html {
	background-color: #b1c7cc;
}

body {
	margin: 2.5em 2.5em 2.5em 2.5em; 
	background-color: white;
}

#linksAbove ul {
	text-decoration: none;
	text-align: right;
}

#linksAbove ul li{
	display: inline-block;
}

#linksAbove h4{
	margin-left: 1.25em;	
}

nav{
	text-align: center;
}


